<p style="color: green"><%= notice %></p>

<h1 class="titulo_nosotros">Nosotros</h1>

<div class="contenedor_nosotros">
<div class="def_nosotros">
  <p>Bienvenidos a nuestro equipo, un colectivo de mentes brillantes y apasionadas, todos estudiantes de ingenieria civil que representan una variedad de disciplinas, 
  desde software, electrónica, comunicación y finanzas. Cada miembro de nuestro equipo aporta una combinación única de habilidades y experiencia, creando una sinergia 
  excepcional que nos permite impulsar la innovación y enfrentar los desafíos con soluciones creativas e impactantes.Nuestro equipo no solo se distingue por su alta 
  competencia técnica, sino también por su compromiso inquebrantable con la sostenibilidad. Conscientes del impacto que nuestras decisiones y procesos tienen
  en el entorno, buscamos continuamente formas de minimizar nuestra huella ecológica y contribuir a un futuro más verde.</p>
</div>
</div>

<div class="contenedor_fotos">
<div class="tarjeta_nosotros">
    <div class="fotos_nosotros">
      <%= image_tag("nosotros/ian.jpg", width: "150px")%>
      <p style="font-size: 20px">Ian Fuenzalida</p>
      <p style="font-size: 20px">(CCO)</p>
    </div>
</div>

<div class="tarjeta_nosotros">
    <div class="fotos_nosotros">
      <%= image_tag("nosotros/maxi.jpg", width: "150px")%>-
      <p style="font-size: 20px">Maximiliano Tombolini</p>
      <p style="font-size: 20px">(CEO)</p>
    </div>
</div>

<div class="tarjeta_nosotros">
    <div class="fotos_nosotros">
      <%= image_tag("nosotros/franco.jpg", width: "150px")%>
      <p style="font-size: 20px">Franco Anfossi</p>
      <p style="font-size: 20px">(CIO/CTO)</p>
    </div>
</div>
</div>

<div class="contenedor_fotos">
<div class="tarjeta_nosotros">
    <div class="fotos_nosotros">
      <%= image_tag("nosotros/dinb.jpg", width: "150px")%>
      <p style="font-size: 20px">Diego Navarro</p>
      <p style="font-size: 20px">(CFO)</p>
    </div>
</div>

<div class="tarjeta_nosotros">
    <div class="fotos_nosotros">
      <%= image_tag("nosotros/lukas.jpg", width: "150px")%>
      <p style="font-size: 20px">Lukas Peña</p>
      <p style="font-size: 20px">(COO)</p>
    </div>
</div>
</div>


